
# build stuff
build/
dist/
TraitsImageViewer.egg-info/

# dev stuff
.vscode/
TraitsImageViewer/.vscode/


# misc
**.cache/
**/__pycache__
**/.DS_Store
**/.py[cod]

# project specific
TraitsImageViewer/models/__pycache__/
TraitsImageViewer/models/tests/__pycache__/
TraitsImageViewer/io/__pycache__/
TraitsImageViewer/io/tests/__pycache__/
